@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* Colors */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  
  /* Typography */
  --body-font-size: 16px;
  --font-family: 'Red Hat Display', sans-serif;
  --fontw-regular: 500;
  --fontw-medium: 700;
  --fontw-bold: 900;



}

