/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Declare variables */
:root {
/* Colors */
/* Primary Text */
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Gradient */
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/* Neutral Text */
--very-dark-grayish-blue: hsl(237, 12%, 33%);
--dark-grayish-blue: hsl(240, 6%, 50%);

/* Dividers */
--light-grayish-blue: hsl(240, 5%, 91%);


/* Typography */
--body-font: 'Kumbh Sans', sans-serif;
--body-font-size: 0.75rem;

--body-fw-regular: 400;
--body-fw-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* mobile first */
body {
    font-family: var(--body-font);
    font-size: 0.75rem;
    background: rgb(175,103,233);
    background: linear-gradient(180deg, rgba(175,103,233,1) 35%, rgba(101,101,231,1) 100%) no-repeat;
    height: 100vh;
    width: 100%;
    padding: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 1.7rem;
    position: relative;
    margin-top: 6em;
    padding: 2em;
    box-shadow: inset 0px 1px 1px 0px rgba(12, 9, 9, 0.1), 0px 50px 100px -20px rgba(13, 13, 26, 0.25), 0px 40px 50px -25px rgba(3, 3, 3, 0.3);
}

.column-one {
    display: flex;
    flex-direction: column;

}

.image-container {
    position: absolute;
    top: -9em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 20em;
}

.image-shadow {
   position: absolute;
   top: 9em;
   left: 50%;
   transform: translateX(-50%);
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 3.3em;
    
}

.questions {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.desktop-image {
    display: none;
}

.desktop-shadow {
    display: none;
}

.orange-box {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 4000px) {

    .card-container {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 0em;
        padding: 0em;
        max-width: 98vw;
        z-index: 0;
    }


    .mobile-image {
        display: none;
    }

    .mobile-shadow {
        display: none;
    }

    .image-container {
        position:relative;
        width: 50em;
        z-index: 0;
        padding-bottom: 2em;
        padding-top: 4em;
    }


    .desktop-image {
        display:flex;
        position: relative;
        top: 8.5em;
        left: -1em;
        padding-top: 3em;
        padding-bottom: 5em;
        z-index:1;
    }

    .column-one {
        width: 38em;
        overflow:hidden;
    }

    .image-shadow {
        position: absolute;
        top: -15em;
        left: -3em;
        width:80em;
        z-index: 0;
    }


    .desktop-shadow {
        display: flex;
        width: 100%;
        z-index: 0;
    }

    .desktop-box {
        display: block;
        position: absolute;
        top: 18.5em;
        left: -7em;
        width: 14em;
        z-index: 999;
    }

    .orange-box {
        display: flex;
    }

    .column-two {
        padding-right: 4em;
        z-index: 2;
        
    }

    .title {
        margin-top: 0em;
        text-align: left;
    }

    .questions {
        margin-right: 3em;
    }

}