
.article-question {
    border-bottom: 1px var(--light-grayish-blue) solid;
    padding-top: 1.5em;
    width: 23.5em;
}

.article-question article {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23.5em;
    
}


.article-question article h2 {
    color: #4B4C5F;
    font-weight: 400;
    font-size: 0.813rem;
    padding-bottom: 0.7em;
    cursor: pointer;
}

.article-question article h2:hover {
    color:var(--soft-red);
}

.article-question article h2.clicked {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.article-question p {
    color:var(--dark-grayish-blue);
    font-size: 0.75rem;
    width: 22em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

.article-question img {
    width: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 0.5em;
}

.arrowOpen {
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) and (max-width: 4000px) {

    .article-question {
        border-bottom: 1px var(--light-grayish-blue) solid;
        padding-top: 1.5em;
        width: 30em;
    }

    .article-question article {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 29em;
    }

    .article-question article h2 {
        font-weight: 400;
        font-size: 0.875rem;
    }

    .article-question p {
        font-size: 0.75rem;
        width: 27em;
        
    }

    

}